body {
    font-family: Roboto, Arial, sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    /*  TODO */
    align-items: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    padding: 10px;
}
.nav-left {
    display: flex;
    gap: 10px;
    flex-grow:1;
    /*  TODO */
}
.nav-right {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    /*  TODO */
}
.nav-center {
    flex-grow: 3;
    gap: 10px;
    display: flex;
    /*  TODO */
}
.nav-center input {
    width: 90%;
    padding: 9px;
}
.nav-center i {
    background: #f5ecec;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 50%;
}
header {
    width: 93%;
    margin: auto;
    margin-top: 16px;
    padding: 10px;
}
header span {
    padding: 10px;
    background: #e2e0e0;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}
.active {
    background: #000;
    color: #fff;
}
.video-container { 
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-items: flex-start;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;


    
    /*  TODO */
}
.video {
    margin: 10px 10px 0px 10px;
    background-color: white;
    border-radius: 10px;

    width: 23%; /*23% use for 4 in a row */

   /*  TODO */
 
}
.video-thumbnail img {
    display: flex;
    flex-grow: 1;
    width: 100%;

   /*  TODO */
}
.video-text {
  /*  TODO */

  display: flex;
  flex-grow: 2;
  padding-top: 10px;
  padding-left: 5px;
  gap: 10px;
 
}


.text {
    line-height: 1.5;
}
.text p {
    margin: 0;
    margin-top: 10px;
}
.text p,
.text span {
    color: rgb(105, 102, 102);
}
.text strong {
    font-weight: 500;
}